@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    height: 100vh;
  }

  input {
    @apply border border-inputBorder bg-inputColor text-primary text-sm_variant rounded pl-4 py-4 w-full focus:outline focus-within:outline-lightPurple focus-within:outline-1;
  }

  .formItem {
    @apply flex flex-col;
  }

  label {
    @apply text-formLabel;
  }

  dialog {
    margin: 0;
    position: relative;
    z-index: -10;
  }

  dialog::backdrop {
    background-color: pink;
    opacity: 0.5;
    top: 72px;
    /* min-height: calc(100vh - 150px); */
    /* min-height: 100vh; */
    /* top: 0; */
    /* min-height: calc(100vh - 72px); */
    position: relative;
    z-index: -1;
    
  }

  @media screen and (min-width: 768px) {
    dialog::backdrop {
      top: 80px;
    }
  }

  @media screen and (min-width: 1024px) {
    dialog::backdrop {
      /* top: 80px; */
      left: 103px;
    }
  }
}
